In [196]:
import pandas as pd
import numpy as np

In [197]:
dados_int = pd.read_csv('data.csv')

In [ ]:
#Considerando que o arquivo principal de dados contem dados referentes a 3 anos de medições, 
#e levando em consideração que o arquivo é muito grande para uma análise exploratória
#foi considerada uma amostra aleatória simples de 1000000 de dados para a realização da análise

In [198]:
dados = dados_int.sample(n=1000000)

In [199]:
dados.head(20)

          building_id  meter            timestamp  meter_reading
14267316          220      3  2016-09-17 02:00:00         0.0000
3084075           948      2  2016-02-27 14:00:00         0.0000
255785            553      0  2016-01-05 15:00:00       108.0600
327118            663      0  2016-01-06 22:00:00        53.1000
4886915          1437      2  2016-04-02 21:00:00      1539.6200
17007164         1035      0  2016-11-04 15:00:00        22.5400
10846047          810      0  2016-07-17 20:00:00         2.7083
631793           1096      0  2016-01-12 11:00:00        50.4010
16249925          448      0  2016-10-22 04:00:00       606.8000
11483162          752      1  2016-07-29 05:00:00       258.1610
11877277          795      3  2016-08-05 07:00:00         0.0000
8878739           776      2  2016-06-12 21:00:00         0.0000
15380201          998      0  2016-10-06 18:00:00       109.7500
19236071         1368      1  2016-12-14 16:00:00         2.4958
18488733         1217      0  2016-11-30 23:00:00        85.2810
893702            971      1  2016-01-17 05:00:00       145.2110
9419356          1347      2  2016-06-22 11:00:00       712.4390
1280360           989      1  2016-01-24 05:00:00         2.6376
19415285         1211      2  2016-12-17 20:00:00      2773.4400
8869066           490      0  2016-06-12 17:00:00       158.5500

In [200]:
tempo = pd.read_csv('weather_data.csv')

In [201]:
tempo.head(20)

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,0,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6
5,0,2016-01-01 05:00:00,19.4,NaN,19.4,0.0,NaN,0.0,0.0
6,0,2016-01-01 06:00:00,21.1,6.0,21.1,-1.0,1019.4,0.0,0.0
7,0,2016-01-01 07:00:00,21.1,NaN,21.1,0.0,1018.8,210.0,1.5
8,0,2016-01-01 08:00:00,20.6,NaN,20.0,0.0,1018.1,0.0,0.0
9,0,2016-01-01 09:00:00,21.1,NaN,20.6,0.0,1019.0,290.0,1.5
10,0,2016-01-01 10:00:00,21.1,NaN,20.6,-1.0,1018.4,0.0,0.0
11,0,2016-01-01 11:00:00,20.6,NaN,20.0,0.0,1018.9,0.0,0.0
12,0,2016-01-01 12:00:00,18.9,6.0,18.9,0.0,1019.2,210.0,1.5
13,0,2016-01-01 13:00:00,20.0,NaN,20.0,0.0,1019.6,0.0,0.0
14,0,2016-01-01 14:00:00,21.7,NaN,21.1,0.0,1020.1,0.0,0.0
15,0,2016-01-01 15:00:00,23.9,NaN,21.1,0.0,1020.3,210.0,3.1
16,0,2016-01-01 16:00:00,26.1,NaN,20.0,0.0,1020.2,210.0,4.1
17,0,2016-01-01 17:00:00,26.7,NaN,20.6,0.0,1019.5,230.0,3.6
18,0,2016-01-01 18:00:00,27.8,6.0,20.0,0.0,1018.2,200.0,5.1
19,0,2016-01-01 19:00:00,28.3,NaN,19.4,0.0,1017.2,180.0,5.1

In [202]:
edificios = pd.read_csv('building_metadata.csv')

In [203]:
edificios.head(20)

,site_id,building_id,primary_use,square_feet,year_built,floor_count
0,0,0,Education,7432,2008.0,NaN
1,0,1,Education,2720,2004.0,NaN
2,0,2,Education,5376,1991.0,NaN
3,0,3,Education,23685,2002.0,NaN
4,0,4,Education,116607,1975.0,NaN
5,0,5,Education,8000,2000.0,NaN
6,0,6,Lodging/residential,27926,1981.0,NaN
7,0,7,Education,121074,1989.0,NaN
8,0,8,Education,60809,2003.0,NaN
9,0,9,Office,27000,2010.0,NaN
10,0,10,Entertainment/public assembly,370773,1991.0,NaN
11,0,11,Education,49073,1968.0,NaN
12,0,12,Lodging/residential,37100,1999.0,NaN
13,0,13,Education,99380,2000.0,NaN
14,0,14,Education,86250,2013.0,NaN
15,0,15,Office,83957,1974.0,NaN
16,0,16,Education,54644,1996.0,NaN
17,0,17,Office,15250,1980.0,NaN
18,0,18,Education,111891,1996.0,NaN
19,0,19,Office,18717,2004.0,NaN

In [204]:
#Hipótese 1: Em dias frios, as pessoas usam menos vapor, logo a leitura do medidor é baixa.
#Hipótese 2: Em dias quentes, as pessoas usam mais vapor, logo a leitura do medidor é alta.
#Hipótese 3: Edificios grandes consomem mais energia, logo a leitura do medidor é alta.
#Hipótese 4: Pressões elevadas estão associadas com leituras altas do medidor.
#Hipótese 5: Edificios novos consomem menos energia, logo a leitura do medidor é baixa.

In [205]:
np.mean(dados['meter_reading'])

2223.0095789814964

In [206]:
#Considerando a média de leitura do medidor igual a 2223
#Foram consideradas leituras altas, leituras maiores do que 2500
#Foram consideradas leituras baixas, leituras menores do que 2000

In [207]:
np.mean(tempo['air_temperature'])

14.41810647160751

In [208]:
#Considerando a média de temperatura do ar igual a 14 graus celsius 
#Foram considerados dias frios, dias com temperatura inferior a 15 graus celsius.
#Foram considerados dias quentes, dias com temperatura superior a 20 graus celsius.

In [209]:
np.mean(edificios['year_built'])

1967.957037037037

In [210]:
#Considerando a média do ano de construção dos edificios igual a 1967
#Foram considerados edificios novos, edificios construidos a partir de 1970

In [211]:
np.mean(edificios['square_feet'])

92111.77639751552

In [212]:
#Considerando a média da área dos edificios igual a 92111 pés quadrados
#Foram considerados edificios grandes, edificios com área superior a 10000 pés quadrados

In [213]:
np.mean(tempo['sea_level_pressure'])

1016.1580380163505

In [214]:
#Considerando a média da pressão ao nível do mar igual a 1016
#Foram consideradas pressões elevadas, pressões superiores a 1020

In [215]:
# Função para selecionar as linhas do arquivo principal de dados com valores de medição acima de 2500.
def leituras_altas(dados):

  dados_acima_de_2500 = []

  for line in range(0, dados.shape[0]):

    if (dados['meter_reading'].iloc[line] >= 2500):

      dados_acima_de_2500.append(dados.iloc[line])

    else:

      continue
  
  return dados_acima_de_2500


dados_acima_de_2500 = leituras_altas(dados)

In [216]:
dados_acima_de_2500 = pd.DataFrame(dados_acima_de_2500)

In [217]:
dados_acima_de_2500.shape

(30416, 4)

In [218]:
# Função para selecionar as linhas do arquivo principal de dados com valores de medição abaixo de 2000.
def leituras_baixas(dados):

  dados_abaixo_de_2000 = []

  for line in range(0, dados.shape[0]):

    if (dados['meter_reading'].iloc[line] <= 2000):

      dados_abaixo_de_2000.append(dados.iloc[line])

    else:

      continue
  
  return dados_abaixo_de_2000


dados_abaixo_de_2000 = leituras_baixas(dados)

In [219]:
dados_abaixo_de_2000 = pd.DataFrame(dados_abaixo_de_2000)

In [220]:
dados_abaixo_de_2000.shape

(961086, 4)

In [221]:
# Função para selecionar as linhas do arquivo de dados sobre clima com valores de medição abaixo de 10.
def leitura_abaixo_de_10(tempo):

  dias_frios = []

  for line in range(0, tempo.shape[0]):

    if (tempo['air_temperature'].iloc[line] <= 10):

      dias_frios.append(tempo.iloc[line])

    else:

      continue
  
  return dias_frios


dias_frios = leitura_abaixo_de_10(tempo)

In [222]:
dias_frios = pd.DataFrame(dias_frios)

In [223]:
dias_frios.shape

(47226, 9)

In [224]:
# Função para selecionar as linhas do arquivo de dados sobre clima com valores de medição acima de 25.
def leitura_acima_de_25(tempo):

  dias_quentes = []

  for line in range(0, tempo.shape[0]):

    if (tempo['air_temperature'].iloc[line] >= 25):

      dias_quentes.append(tempo.iloc[line])

    else:

      continue
  
  return dias_quentes


dias_quentes = leitura_acima_de_25(tempo)

In [225]:
dias_quentes = pd.DataFrame(dias_quentes)

In [226]:
dias_quentes.shape

(24687, 9)

In [227]:
# Função para selecionar as linhas do arquivo de dados sobre edificios com valores de área acima de 10000.
def leitura_acima_de_10000(edificios):

  edificios_grandes = []

  for line in range(0, edificios.shape[0]):

    if (edificios['square_feet'].iloc[line] >= 10000):

      edificios_grandes.append(edificios.iloc[line])

    else:

      continue
  
  return edificios_grandes


edificios_grandes = leitura_acima_de_10000(edificios)

In [228]:
edificios_grandes = pd.DataFrame(edificios_grandes)

In [229]:
edificios_grandes.shape

(1284, 6)

In [230]:
# Função para selecionar as linhas do arquivo de dados sobre edificios com valores de ano de construção acima de 1970.
def leitura_acima_de_1970(edificios):

  edificios_novos = []

  for line in range(0, edificios.shape[0]):

    if (edificios['year_built'].iloc[line] >= 1970):

      edificios_novos.append(edificios.iloc[line])

    else:

      continue
  
  return edificios_novos


edificios_novos = leitura_acima_de_1970(edificios)

In [231]:
edificios_novos = pd.DataFrame(edificios_grandes)

In [232]:
edificios_novos.shape

(1284, 6)

In [233]:
# Função para selecionar as linhas do arquivo de dados sobre tempo com valores de pressão ao nivel do mar acima de 1020.
def leitura_acima_de_1020(tempo):

  pressao_elevada = []

  for line in range(0, tempo.shape[0]):

    if (tempo['sea_level_pressure'].iloc[line] >= 1020):

      pressao_elevada.append(tempo.iloc[line])

    else:

      continue
  
  return pressao_elevada


pressao_elevada = leitura_acima_de_1020(tempo)

In [234]:
pressao_elevada = pd.DataFrame(pressao_elevada)

In [235]:
pressao_elevada.shape

(37966, 9)

In [236]:
#Levando em consideração a dimensão das matrizes, foi realizada uma amostragem aleatória simples
#para que a correlação entre as variáveis pudesse ser calculada

In [ ]:
#Para o cálculo da correlação foi utilizado linregress, que calcula:
#inclinação: inclinação da linha de regressão
#interceptação: interceptação da linha de regressão
#Valor r: coeficiente de correlação
#Valor p: valor p frente e verso para um teste de hipótese cuja hipótese nula é a de que a inclinação é zero
#stderr: erro padrão da estimativa

In [273]:
from scipy.stats import linregress

In [274]:
dados_abaixo_de_2000_sample = dados_abaixo_de_2000.sample(n=45000)

In [275]:
dias_frios_sample = dias_frios.sample(45000)

In [276]:
#Hipótese 1:Em dias frios, as pessoas usam menos vapor, logo a leitura do medidor é baixa.

linregress(dados_abaixo_de_2000_sample['meter_reading'],dias_frios_sample['air_temperature'])

LinregressResult(slope=0.00011530794182632227, intercept=2.605189355755799, rvalue=0.005997100559405479, pvalue=0.20331867730231795, stderr=9.063865943675193e-05)

In [277]:
#Leitura baixa do medidor e dias frios apresentam correlação desprezível.

In [278]:
dias_quentes_sample = dias_quentes.sample(24000)

In [279]:
dados_acima_de_2500_sample = dados_acima_de_2500.sample(24000)

In [280]:
#Hipótese 2: Em dias quentes, as pessoas usam mais vapor, logo a leitura do medidor é alta.

linregress(dados_acima_de_2500_sample['meter_reading'],dias_quentes_sample['air_temperature'])

LinregressResult(slope=-3.399577218858666e-08, intercept=29.124471031599423, rvalue=-0.008565621037846683, pvalue=0.18453000999595318, stderr=2.5619024960271962e-08)

In [281]:
#Leitura alta do medidor e dias quentes apresentam correlação desprezível.

In [282]:
edificios_grandes_sample = edificios_grandes.sample(1200)

In [283]:
dados_acima_de_2500_sample = dados_acima_de_2500.sample(1200)

In [284]:
#Hipótese 3: Edificios grandes consomem mais energia, logo a leitura do medidor é alta.

linregress(edificios_grandes_sample['square_feet'],dados_acima_de_2500_sample['meter_reading'])

LinregressResult(slope=-0.13566597927333787, intercept=59594.72592199649, rvalue=-0.022701016741233367, pvalue=0.4320620236878505, stderr=0.17261769113491887)

In [285]:
#Leitura alta do medidor e edificios grandes apresentam correlação desprezível.

In [286]:
dados_acima_de_2500_sample = dados_acima_de_2500.sample(25000)

In [287]:
pressao_elevada_sample = pressao_elevada.sample(25000)

In [288]:
#Hipótese 4: Pressões elevadas estão associadas com leituras altas do medidor.

linregress(pressao_elevada_sample['sea_level_pressure'],dados_acima_de_2500_sample['meter_reading'])

LinregressResult(slope=-426.6302273918318, intercept=506398.17096574936, rvalue=-0.0018511973634438965, pvalue=0.7697624633262335, stderr=1457.6240440623362)

In [289]:
#Leitura alta do medidor e pressão elevada apresentam correlação desprezível.

In [290]:
edificios_novos_sample = edificios_novos.sample(1200)

In [291]:
dados_abaixo_de_2000_sample = dados_abaixo_de_2000.sample(1200)

In [292]:
#Hipótese 5: Edificios novos consomem menos energia, logo a leitura do medidor é baixa.

linregress(edificios_novos_sample['year_built'],dados_abaixo_de_2000_sample['meter_reading'])

LinregressResult(slope=nan, intercept=nan, rvalue=nan, pvalue=nan, stderr=nan)

In [293]:
#Leitura baixa do medidor e edificios novos apresentam correlação inexistente.